.checklist {
    overflow: auto;
    border: 1px solid deepskyblue;
    background-color: aquamarine;
    padding: 12px 5px 12px 5px;
}

.checklist li {
    list-style-type: none;
    cursor: pointer;
    padding: 6px;
    transition: 0.3s;

}

checklist li:hover {
    background: #ddd;
}



/* Style the tab */
.tab {
    overflow: hidden;
    background-color: gray;
    width: 100%;
    display:table;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display:table-cell;
    background-color: inherit;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;
    width: 25%;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

table, th, td {
    border:1px solid black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#Home {
    display : block;
}