/*
Spacing of the tables
 */

.ScheduleTableHeader td, .ScheduleTableHeader {
    padding: 0.5%;
    border:1px solid black;
    width: 14.2857142857%;
    text-align: center;
}

/*
Takes care of the width of the tables
 */

.ScheduleTableHeader {
    width: 100%;
}

/*
Title of the schedule
 */
