/*
Spacing of the tables
 */
.ScheduleTable td{
    padding: 0.5%;
    border:1px solid black;
    width: 14.2857142857%;
    text-align: center;
}
.ScheduleTable {
    width: 100%;
}

/*
Takes care of the width of the tables
 */

.ScheduleTableHeader {
    width: 100%;
}

#addScheduleButton {
    width: 40px;
    display: inline-block;
    vertical-align: bottom
}

/*
Title of the schedule
 */
