/*
Spacing of the tables
 */
.scheduleTable th{
    padding: 0.5%;
    border:1px solid black;
    width: 14.2857142857%;
    text-align: center;
}
.scheduleTable {
    width: 100%;
}

/*
Takes care of the width of the tables
 */

#addScheduleButton {
    width: 40px;
    display: inline-block;
    vertical-align: bottom
}

/*
Title of the schedule
 */
