/*div holding the timer*/
.timer {
    border-radius: 30px;
    margin: auto;
    width: 50%;
    padding-top: 0.2%;
    background-color: #ff999e;
}
/*the timer*/
#timeleft {
    font-size: 7em;
    text-align: center;
    color: white;
    margin: 10%;
}
/*button to start and stop the timer*/
.startButton {
    width: 20%;
    position: relative;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    border: none;
    fill: darkgrey;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    background-color: white;
    color: #ff5962;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*hovering the start button*/
.startButton:hover {
    background-color: #a83e44;
    color: white;
    transition: 0.2s;
}

/*after clicking the start button*/
.startButton.active {
    background-color: #cccccc;
}

/*padding for the button*/
.buttonDiv {
    padding-bottom: 10%;
}

#Focus\ Timer {
    background-color: #ff5962;
}

#timerHeader {
    color: white;
}