.checklist {
    overflow: auto;
    border: 1px solid deepskyblue;
    background-color: aquamarine;
    padding: 12px 5px 12px 5px;
}

.checklist li {
    list-style-type: none;
    cursor: pointer;
    padding: 6px;
    transition: 0.3s;

}

.checklist li:hover {
    background: #ddd;
}