.checklistOutline {
    border-radius: 30px;
    fill: darkgrey;
    margin: auto;
    width: 80%;
    padding-top: 0.2%;
    background-color: #ff5962;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

/*the list of items to do*/
#checklist {
    overflow: auto;
    border: none;
    background-color: #eff2ef;
    color: #434343;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    border-collapse: separate;
    border-spacing:0 15px;
    margin:auto;
}
/*each list item of checklist*/
#checklist tr {
    list-style-type: none;
    cursor: pointer;
    padding: 10%;
    transition: 0.3s;
    height: 40px;


}
/*when you hover over an item*/
#checklist tr:hover {
    background: #434343;
    color: white;
    transition: 0.3s;
}

#taskAdder{
    width: 70%;
    height: 40px;
    margin: auto;
    display:inline;
    border-radius: 10px;
    border: none;
    padding-left: 1%;
    background-color: #ffced0;
}

#input {
    width:100%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background-color: #ff999e;
    border-radius: 20px;
    margin-bottom: 2%;

}

#addTaskButton {
    width: 40px;
    display: inline-block;
    vertical-align: bottom
}

.closeTask {
    text-align: center;
    width: 40px;
    color: #ff5962;
    transition: 0.3s;
}

.closeTask:hover{
    background-color: #ff5962;
    color: #ffced0;

}

.task {
    overflow: clip;
}